:root{
    --dark-blue: rgb(6, 28, 37);
    --light-blue: rgb(37, 87, 107);
    --bg-color: rgb(33,37,41);
}
@import url(//db.onlinewebfonts.com/c/12420e8c141ca7c3dff41de2d59df13e?family=BeaufortforLOL-Bold);

body{
    margin: 0;
}

.main-nav p, .card-title{
    color: white;
}

.main-nav{
    background-color: var(--bg-color);
    height: 7.5vh;
    width: 100%;
    padding: 2vh;
    display: flex;
    flex-direction: row;
}

.main-nav .main-title{
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.nav-btn{
    margin-left: 40%;
}

.card{
    width: 15.5em;
    border: .5px solid black;
    margin: 15px;
    cursor: pointer;
}

.card-body{
    background-color: var(--dark-blue);
    font-family: "Beaufort for LOL", serif;
    letter-spacing: 0.08em;
}

.card-body .card-title{
    font-size: 20px;
    font-weight: 1000 !important;
    margin-left: 25px;
}

.card-choice, .ennemi-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.background{
    width: 246px;
    height: 277px;
    background: var(--dark-blue); 
}

.victoire{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15em;
    background-color: green;
    color: white;
    opacity: .5;
    position: absolute;
    z-index: 1;
}

.egalite{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15em;
    background-color: orange;
    color: white;
    opacity: .5;
    position: absolute;
    z-index: 1;
}

.defaite{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15em;
    background-color: red;
    color: white;
    opacity: .5;
    position: absolute;
    z-index: 1;
}